@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<body>
    <div class="dropdown">
        <button class="dropbtn">Name</button>
        <div class="dropdown-content">
            @Html.ActionLink("Location", "Location", "Applicants", new { id = 1 }, null)
            @Html.ActionLink("Schedule", "Schedule", new { id = 2 })
            @Html.ActionLink("Schedule", "Schedule", new { id = 3 })
            @Html.ActionLink("Schedule", "Schedule", new { id = 4 })

        </div>
    </div>
</body>