@model EmploymentTracking.Models.Applicant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPaf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPaf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
