@model IEnumerable<EmploymentTracking.Models.Applicant>

@{
    ViewBag.Title = "Index";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<script>
    $(document).ready(function () {
        $('#location').on('change', function () {
            if (this.value == '0') {
                $(".1").show();
                $(".2").show();
                $(".3").show();
                $(".4").show();
                $(".5").show();
                $(".6").show();
            }

            if (this.value == '1')
            {
                $(".1").show();
                $(".2").hide();
                $(".3").hide();
                $(".4").hide();
                $(".5").hide();
                $(".6").hide();
            }

            if (this.value == '2')
            {
                $(".1").hide();
                $(".2").show();
                $(".3").hide();
                $(".4").hide();
                $(".5").hide();
                $(".6").hide();
            }

            if (this.value == '3')
            {
                $(".1").hide();
                $(".2").hide();
                $(".3").show();
                $(".4").hide();
                $(".5").hide();
                $(".6").hide();
            }

            if (this.value == '4') {
                $(".1").hide();
                $(".2").hide();
                $(".3").hide();
                $(".4").show();
                $(".5").hide();
                $(".6").hide();
            }

            if (this.value == '5') {
                $(".1").hide();
                $(".2").hide();
                $(".3").hide();
                $(".4").hide();
                $(".5").show();
                $(".6").hide();
            }

            if (this.value == '6') {
                $(".1").hide();
                $(".2").hide();
                $(".3").hide();
                $(".4").hide();
                $(".5").hide();
                $(".6").show();
            }
        });
    });
</script>

<h2>Tracking Dashboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName):
            <select id="location">
                <option value="0">All</option>
                <option value="1">Cannon Commons</option>
                <option value="2">Moa Cafe</option>
                <option value="3">Skyroom</option>
                <option value="4">Cougareat</option>
                <option value="5">Harvey's</option>
                <option value="6">Legends Grille</option>
            </select>
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            Next Step
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Email)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Hired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPaf)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.I9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Training)
        </th>
        <th>
            Schedule
        </th>
        <th>
            Days Since Applied
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td class="@item.LocationID">
                @if (item.Hired == false)
                {
                    <div style="color: red"><strong>Hire Applicant</strong></div>
                }
                else if (item.EPaf == false && item.Hired == true)
                {
                    <div style="color: red"><strong>EPAF</strong></div>
                }
                else if (item.I9 == false && item.EPaf == true)
                {
                    <div style="color: red"><strong>I9</strong></div>
                }
                else if (item.Training == false && item.I9 == true)
                {
                    <div style="color: red"><strong>Training</strong></div>
                }
                else
                {
                    <div style="color: limegreen"><strong>Done</strong></div>
                }
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>*@
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.Hired)
            </td>
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.EPaf)
                @if (item.EPaf == false)
                {
                    <a href="https://google.com">EPAF</a>
                }
            </td>
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.I9)
                @if (item.I9 == false)
                {
                    <a href="https://hrs.byu.edu/managers/hiring-students/getting-hired">I9</a>
                }
            </td>
            <td class="@item.LocationID">
                @Html.DisplayFor(modelItem => item.Training)
                @if (item.Training == false)
                {
                    <a href="mailto: @item.Email?subject=this is the subject&body=this is the body">Training</a>
                }
            </td>
            <td class="@item.LocationID">
                @if (item.ScheduleAllowed == true)
                {
                    @Html.ActionLink("Schedule", "Schedule", new { id = item.ApplicantID })
                }
                else
                {
                    <div>Not Allowed</div>
                }
            </td>
            <td class="@item.LocationID">
                @((DateTime.Now.Date - item.DateApplied.Date).Days)
            </td>
            <td class="@item.LocationID">
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicantID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicantID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicantID })
            </td>
        </tr>
    }

</table>
